{%extends 'base.html' %}

{%block title%} Welcome to NEWSPORTAL {%endblock%}

{%block content%}

<div class="container-custom">

    <h3>{{cat.title}}</h3>
    <div class="img-container">
        <img src="/media/{{cat.image}}" class="responsive-img" style="max-height:300px;width:100%;object-fit:cover;"
             alt="">
    </div>

     <div class="collection">
        {%for p in posts %}
        <a href="/news/{{p.url}}" class="collection-item" >{{p.post_title}}</a>


        {%endfor%}

</div>

</div>

{%endblock%}